/* Header */
.header {
    background-image: linear-gradient(0, #97f053, var(--primary-color));
}

.header__navbar {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    font-size: 50px;
    background-color: rgb(199, 85, 85);
    color: rgb(255, 255, 255);
    border: 6px double white;
    border-radius: 50%;
}

.header__navbar-list {
    list-style: none;
    display: flex;
}

.header__navbar-list:hover {
    cursor: pointer;
}

.header__navbar-list-info {
    padding-left: 70px;
    position: absolute;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: #333;
}


.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2.8px solid #fffaff;
    height: 20px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-search {
    width: 200px;
    font-size: 1.4rem;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--white-color);
}

.header__navbar-search-icon {
    padding: 8px;
    margin: 0 4px;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    background-color: rgb(199, 85, 85);
}

.header__navbar-box {
    font-size: 1.4rem;
    padding: 10px;
   
}

.header__navbar-cart {
    font-size: 18px;
    padding: 7px;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    background-color: rgb(199, 85, 85);
    color: #333;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    margin-top: 10px;
  }
  
/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
  
/* Next & previous buttons */
.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
  .prev:hover, 
  .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, 
.dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}
  
@keyframes fade {
    from {
      opacity: .8
    }
    to {
      opacity: 1
    }
}

/* type products */
.type-product {
    margin-bottom: -10px;
}

.type-product-fruits {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}


/* Products */
.home-product {
    margin-bottom: 20px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 25px;
    background-color: var(--white-color);
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/* .home-product-item__name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
} */

.home-product-item__name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}


.home-product-item__price-current {
    font-size: 1.6rem;
    margin-left: 10px;
    color: #ff2c26;
}

.home-product-item__add {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10px 0;
    padding-bottom: 8px;
}

.home-product-item__add-cart-label {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.6rem;
    margin: 8px 0;
}

.home-product-item__add-cart-icon {
    font-size: 1.8rem;
    align-items: baseline;
    margin: 6px 0;
    color: var(--primary-color);
}

.home-product-item__add-cart-label:hover,
.home-product-item__add-cart-icon:hover {
    cursor: pointer;
    color: #5bdc5b;
}

.home-product-item__favourite {
    position: absolute;
    top: 12px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3.2px;
    border-top: 3.5px solid currentColor;
    border-left: 3.5px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 1rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20.5px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94) ;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
    top: 5px;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover{
    background-color: #50dd50;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}

/* Footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color)
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: 1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}

.footer__bottom-box {
    display: flex;
    max-width: 500px;
    margin: 0;
    margin: auto;
}

.footer__bottom-img {
    padding: 0;
    margin: 0;
    width: 500px;
    display: flex;
}

.footer__bottom-img-list {
    margin: auto;
    list-style: none;
}

.footer__bottom-img-icon {
    width: 120px;
    font-size: 1.6rem;
    justify-items: center;
    margin: -1px 8px 0 0;
}